# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized
*.py text
*.ts text
*.tsx text
*.js text
*.json text
*.md text
*.css text
*.html text

# Binary files
*.png binary
*.jpg binary
*.svg binary
*.ico binary
